@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body, html{
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}


.bg {
  /* The image used */
  background-image: url("/static/img/UPLANDIMG/uplandbg1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrapper {
  width:94%;
  margin:auto;
}

.box {
  max-width:320px;
  min-height:320px;
  margin:60px auto;
  border:1px solid #ccc;
  padding:10px;
  box-shadow:0 1px 1px 1px #ccc;
  transition: 3s ease-in all;
  &:hover {
     transform: rotate(30deg);
  }
  h2 {
    text-align:center;
    background-color:red;
    color:black;
    padding:20px;
    margin:0;
    border:2px solid black;
    small {
      text-transform:uppercase;
      font-size:12px;
      letter-spacing:2px;
    }
  }
  .align-center {
    text-align:center;
  }
}

.float-left {
  float:left;
}

.float-right {
  float:right;
}

.clear-both {
  clear:both;
  padding-bottom:10px;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

