	
<!DOCTYPE html>
<html>
<head> 

	<link href="/static/css/llama.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
	
<div class="wrapper">
  <div class="cards_wrap">
    <div class="card_item">
      <div class="card_inner">
        <div class="card_top">

         <img src="{{ profile.avatar.image }}" alt÷"car" />
	</div>
        <div class="card_bottom">
          <div class="card_category">
            {{ username }}
          </div>
          <div class="card_info">
            <p class="title">Networth = {{ profile.networth}} <img  style="width:30px;height:30px; "src="/static/img/UPLANDIMG/UPX.png"></p>
		  <p>Level = {{ profile.level }}</p>
		  	{% set USD = profile.networth / 1000 %}
			{% set value_USD = USD %}
		  <p>USD = {{ "${:,.2f}".format(value_USD) }}$<img  style="width:30px;height:30px; "src="/static/img/UPLANDIMG/USD.jpeg"></p>
		  <p>color = {{ profile.color.color }}</p>
		  <p>Incarcerated = {{ profile.is_in_jail }}</p>
          </div>
          <div class="card_creator">
            NorthWatch
          </div>
        </div>
      </div>
    </div>

	<div style="position: absolute; top>" >
	
	
		{% for x in profile.collections :%}

		{{ x.name  }}<br>

		{% endfor %}

		<br>
		PROPERTIES<br>
		<br>

		{% set length = profile.properties | length %}

		<div class="boxed">
			Total Assets = {{ length }}
		</div>

	</div>

	{% for x in profile.properties :%}

	{% if x.status == "Owned": %}


		<button  onclick="myFunction('Demo1-{{ loop.index }}')" class="w3-button w3-block w3-left-align" style="background-color:#bcd7fb">{{ x.full_address }} <br> {{ x.city.name }}, {{ x.state.name }}</button>

		<div id="Demo1-{{ loop.index }}" class="w3-hide w3-animate-zoom">
			<a href="https://play.upland.me/properties?prop_id={{ x.prop_id }}" target="_blank" class="w3-button w3-block w3-left-align">{{ x.prop_id }} Lets Go!</a>
			<a href="#" class="w3-button w3-block w3-left-align">{{ x.status }}</a>

			<script>
				function myFunction(id) {
					var x = document.getElementById(id);
					if (x.className.indexOf("w3-show") == -1) {
						x.className += " w3-show";
					} else { 
						x.className = x.className.replace(" w3-show", "");
					}
				}
			</script>

		</div>


	{% endif %}
	{% if x.status == "For sale": %}


		<button  onclick="myFunction('Demo1-{{ loop.index }}')" class="w3-button w3-block w3-left-align" style="background-color:#57a12e">{{ x.full_address }} <br> {{ x.city.name }}, {{ x.state.name }}</button>

		<div id="Demo1-{{ loop.index  }}" class="w3-hide w3-animate-zoom">

			<a href="https://play.upland.me/properties?prop_id={{ x.prop_id }}" target="_blank" class="w3-button w3-block w3-left-align">{{ x.prop_id }} Lets Go!</a>
			<a href="#" class="w3-button w3-block w3-left-align">{{ x.status }}</a>
		
		</div>


	{% endif %}



<p></p>
</div>
</div>



{% endfor %}

</body>
</html>


