<!DOCTYPE html>
<html>
  <head> 

  <link href="/static/css/llama.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>

<body>
  <div class="bg">







<button onclick="myFunction('Demo1')" class="w3-button w3-block w3-black w3-left-align">{{ username }}</button>
<div id="Demo1" class="w3-hide w3-animate-zoom">
  <a href="#" class="w3-button w3-block w3-left-align">Link 1</a>
  <a href="#" class="w3-button w3-block w3-left-align">Link 2</a>
  <a href="#" class="w3-button w3-block w3-left-align">Link 3</a>
  </div>
</div>

<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
</div>
</body>