


<!DOCTYPE html>
<html>


<head>
 {% include 'google.html' %}
  <meta name="keywords" content="Block, Block Explorer, Halo, Halo Platform, Eth fork, Blocks, About">
  <meta name="description" content="NorthWatch Block Explorer">
  <meta name="author" content="NorthWatch Credits: Garth Madden Ryan Curry Henry Kivimaa Jessie Chilcote Jordan Panteleeff Halo Platform">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <title>About</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
  <link href="/static/css/mj_css.css" rel="stylesheet" type="text/css">
  
  
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" href="http://example.com/img/apple-touch-icon.png" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

<!-- HEADER -->
{%  include '/HALO/header.html'  %}
<!-- HEADER -ENDS -->

<article width="90%" align="center" style="color: white ; font-size: 15px ; font-family: 'Roboto', sans-serif">
  	<p  style="word-break: break-all"><span class="inner-pre" style="font-size: 20px">
  	
<p style="font-size: 20px ;font-family: 'Roboto', sans-serif ">"WE STRIVE TO BUILD AN "EXPLORER"
	THAT 
OFFERS COMPLETE TRANSPARENCY"</p>

<p>
As a community, We've come together to develop what we believe is the most neccessary tool in the cryptosphere. A robust, frictionless, transparent and easy to use explorer that everyone can enjoy and explore.</p>

<p>Being community developed, We believe we have found the balance necessary to give the "tech savvy" and "not so tech savvy", Something easy to navigate.</p>

<p>We are continuously committed to keeping up with new tech and features, updating our product as needed. We hope users enjoy and utilize this explorer for as long as the cryptosphere continues to grow.</p>


<p style="font-size: 20px">Keep Your trust to 
the NorthWatch 
"The Output Of Input"</p>


<h1>Credits</h1>

<h2>Garth Madden, 		  Ryan Curry,	 	  Henry Kivimaa</h2>	 
<h2>Jessie Chilcote,	 	  Jordan Panteleeff,	 	  Halo Platform</h2>

               
   </article>

<!-- FOOTER -->
<div class="mydivider"></div>
<section class="myfooter" >
  <div class="container-fluid" >
    <div class="row" >
      <div class="col-sm-3" ><img src="/static/img/alpha.png" class="mylogo" />"The Output Of Input"</div>
      <div class="col-sm-6" >
        <p class="border-left" ><b>ABOUT US</b></p>
        <p class="lightercolor">
        NorthWatch Is a community project put together by volunteers and self hosted. There is no affiliation with "Halo Platform"
        If you enjoy this tool feel free to donate to support continued hosting and development. Or Leave a Brave Tip. <br><br>
        
        <pre>
                      DONATIONS
HALO  = 0x630583fde8e6899c74d942814a3719b6d544220e 
ETH   = 0x174E061FF2EEbE9b4b8d5b1bC9b1188cEeE48C00</pre>
        </p>
      </div>
      <div class="col-sm-3" >
        <p class="border-left" ><b>Quick Links</b></p>
        <ul class="mylist" >
          <li><a href="https://www.thenorthwatch.com/about" >About</a></li>
          <li> <a href="https://discord.gg/SpCsvTZ" ><img src="/static/img/discord.png" width="50px"></a></li>
          <li><a href="#" >Disclaimer</a></li>
        </ul>
      </div>
    </div>
    <div class="mydivider"></div>
    <div class="row" >
      <div class="col-sm-6 " style="color:#fff;">
        &copy; Copyright Protected 2019 - 2020
      </div>
      <div class="col-sm-6 last-line" >
        <p>NorthWatch</p>
      </div>
    </div>
  </div>
</section>
<!-- FOOTER - ENDS -->
</body>
</html>
