<!DOCTYPE html>
<html>


<head>
  {% include 'google.html' %}
  <meta name="keywords" content="Block, Block Explorer, Halo, Halo Platform, Eth fork, Blocks, Balances">
  <meta name="description" content="NorthWatch Block Explorer">
  <meta name="author" content="Halo Platform">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Block {{ result.number }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
  <link href="/static/css/mj_css.css" rel="stylesheet" type="text/css">
  
  
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" href="http://example.com/img/apple-touch-icon.png" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>


<!-- HEADER -->
{%  include '/HALO/header.html'  %}
<!-- HEADER -ENDS -->


<p style="font-size: 15px;  color: white; text-align: center">{{ inputData[0] }}</p>
<div width="90%" style="text-align: center"> 
<form  style="float: left" action="https://www.haloexplorer.com/block/{{ result.number - 1 }}">
    <input class="button" type="submit" value="{{ result.number - 1 }}">
</form>

<form style="float: right" action="https://www.haloexplorer.com/block/{{ result.number + 1 }}">
    <input class="button" type="submit" value="{{ result.number + 1 }}">
</form>
</div>
  <table align="center" style="table-layout: fixed; width:90%">
<p></p> 


    <tr>
      <th>Block</th>
      <th style="border-bottom: none; width: 75%">{{ result.number }}</th>
    </tr>

    <tr>
      <td>Data Type</td>
      <td>{{ status }}</td>
    </tr>
    
    <tr>
      <td>Block Number</td>
      <td>{{ result.number }}</td>
    </tr>

    <tr>
      <td>Block Hash</td>
      <td><a href="https://www.haloexplorer.com/tx/{{ result.hash }} " style=" color: #7F91B9">{{ result.hash }}</td>
    </tr>

    <tr>
      <td>TimeStamp</td>
      <td>{{ time }}</td>
    </tr>

    <tr>
      <td>Confirmations</td>
      <td>{{ confirmations }}</td>
    </tr>

    <tr>
      <td>Size</td>
      <td>{{ result.size }}</td>
      </div>
    </tr>

    <tr>
      <td>Gas Limit</td>
      <td>{{ result.gas_limit }}</td>
    </tr>

    <tr>
      <td>Gas Used</td>
      <td>{{ result.gas_used }}</td>
    </tr>

    <tr>
      <td>Uncle Hash</td>
      <td>{{ result.sha3_uncles }}</td>
    </tr>

    <tr>
      <td>State Root </td>
      <td>{{ result.state_root }}</td>
    </tr>

    <tr>
      <td>Parent Hash</td>
      <td>{{ result.parent_hash }}</td>
    </tr>

    <!--
    <tr>
      <td>Raw Data</td>
      <td>{{ result }}</td>
    </tr>
    -->
    <tr>
       <td>Block Miner</td>
       <td>{{ result.miner }}</td>
    </tr>
    
   <tr>
      <td>Difficulty</td>
      <td>{{ result.difficulty }}</td>
    </tr>

    <tr>
  <td>Total Difficulty</td>
  <td>{{ result.total_difficulty }}</td>
   </tr>

    <tr style="border-bottom: 10px; color: #7591B9">
      <td>Number of TX</td>
      <td style="border-bottom: 10px">{{ result.transaction_count }}</td>
    </tr>



  </table>

<p style="margin-left: 2.5em;padding: 0 7em 2em 0;border-width: 2px; border-color: black; border-style:solid;"></p>
    

  <table align= center style="table-layout: fixed; width:90%">  
    <tr style="border-top: none">
      <th>Transactions</th>
      <th style="border-bottom: none; width: 75%"></th>
    </tr>
    
    <tr>
      <td>From Address</td>
      <td><a href="https://www.haloexplorer.com/balance/{{ result.from_address }} " style=" color: #7F91B9">{{ result.from_address }}</a></td>
    </tr>

    <tr>
      <td>To Address</td>
      <td><a href="https://www.haloexplorer.com/balance/{{ result.to_address }} " style=" color: #7F91B9">{{ result.to_address }}</a></td>
    </tr>
    
    <tr>
      <td>Block Number</td>
      <td><a href="https://www.haloexplorer.com/block/{{ result.block_number }} " style=" color: #7F91B9">{{ result.block_number }}</a></td>
    </tr>

    <tr>
      <td>Value</td>
      <td>{{ value }}</td>
    </tr>

    <tr>
        <td>Hash</td>
        <td><a href="https://www.haloexplorer.com/tx/{{ result.hash }} " style=" color: #7F91B9">{{ result.hash }}</a></td>
    <tr>
      <td>Type</td>
      <td>{{ inputData[0] }}</td>
    </tr>

    <tr>
      <td>Nonce</td>
      <td>{{ result.nonce }}</td>
    </tr>
   </table> 



<!-- FOOTER -->
{% include '/HALO/footer.html' %}
<!-- FOOTER - ENDS -->

</body>
</html>