<!DOCTYPE html>
<html>



<head>
  {% include 'google.html' %}
  <meta name="keywords" content="Block Explorer, Halo, Halo Platform, Eth fork, Blocks, NorthWatch, Cryptocurrency, Ethereum, Bitcoin, VeChain, Howdoo, Udoo, Thor, Tron, Dbet, Evedo">
  <meta name="description" content="The Latest 100 Blocks On The Halo Blockchain. Fueled By The NorthWatch Crypto Engine. Discover What The Output Of Input Can Do".>
  <meta name="author" content="NorthWatch">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="XHJWwNDuD04I0bQxzGN5U--RHq28Bwc_1qFWtBRIHzk" />


  <title>Halo Platform Block Explorer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
  <link href="static/css/mj_css.css" rel="stylesheet" type="text/css">
  
  
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" href="http://example.com/images/apple-touch-icon.png" />
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>



<body>

{%  include '/HALO/header.html'  %}


{%  include '/HALO/hero.html'  %}

<div style="color: grey" align="center">
<h1>Last 100 Transactions</h1>
<p>Pings Omitted For Clarity</p>
</div>

<table align="center" style="display: block; overflow-x: auto ; width: 90%" >
        <tr>
                <th>Latest</th>
                <th>Transactions</th>
        </tr>

{% for history in history %}
    
    <tr>
  <td style="white-space:pre-wrap">{{ history.block_timestamp }} <img src="/static/img/transaction.png" width="30" height="" style="float: right" class="inOut">
<a href="https://www.haloexplorer.com/block/{{ history.block_number }} " style=" color: #7F91B9">{{ history.block_number }}</a> 
</td>
  <td style="white-space:pre-wrap"><u>{{ history.descriptor }} </u>
Hash <a href="https://www.haloexplorer.com/tx/{{ history.hash }} " style=" color: #7F91B9">{{ history.hash | truncate(25,true,' .....') }}</a></td>
  {% if history.description == "H-ETH sent to ETH Chain" %}
   
  <td style="white-space:pre-wrap">From: <a href="https://www.haloexplorer.com/balance/{{ history.from_address }} " style=" color: #7F91B9">{{ history.from_address }}</a>
<img src="/static/img/etherscan.png" width="150" height="" alt="" class="etherscan" ><a href ="{{ history.external }}" style=" color: #328ba8">{{ history.to_address }}</td>
  <td>{{ history.value }}</td>
  
  
  {% else %}
  
  <td style="white-space:pre-wrap">From: <a href="https://www.haloexplorer.com/balance/{{ history.from_address }} " style=" color: #7F91B9">{{ history.from_address }}</a>
To: <a href="https://{{ history.url }}/HALO/balance/{{ history.to_address }} " style=" color: #7F91B9">{{ history.to_address }}</a></td>
  <td>{{ history.value }}</td>
  
   {% endif %} 

    

{% endfor %}

</table>


<!-- FOOTER -->
{% include '/HALO/footer.html' %}
<!-- FOOTER - ENDS -->
</body>
</html>