 
<!DOCTYPE html>
<html>
    <head>
        {% include 'google.html' %}
        <title>NorthWatch Block Explorer</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style type="text/css">
            body { text-align: center; padding: 10%; font: 20px Helvetica, sans-serif; color: #333; }
            h1 { font-size: 50px; margin: 0; }
            article { display: block; text-align: left; max-width: 650px; margin: 0 auto; }
            a { color: #dc8100; text-decoration: none; }
            a:hover { color: #333; text-decoration: none; }
            @media only screen and (max-width : 480px) {
                h1 { font-size: 40px; }
            }
        </style>
    </head>
    <body>
        <article>
            <h1>Site is temporarily unavailable....... Kinda :)</h1>
            <p>Scheduled maintenance and updates are currently in progress. Please check back soon.</p>
            <p>We apologize for any inconvenience.</p>
            <p>BETA VERSIONS HERE. "MAY CONTAIN BUGS AND BEETLES"</p>
            <p><a href="/HALO">HALO PLATFORM "COMPLETE"             Block = {{ status.Halo }}</a></p>
            <p><a href="/ETHER1">ETHER-1 "COMPLETE"                  Block = {{ status.Ether1 }}</a></p>
            <p><a href="/EGEM">ETHERGEM "Work In Progress"              Block = {{ status.Egem }}</a></p>
            <br>
            <p id="signature">&mdash;NorthWatch</p>
        </article>
    </body>
</html>