asn1crypto==0.24.0
blinker==1.4
cffi==1.13.2
Click==7.0
colorama==0.3.7
cryptography==2.3
dnspython==1.15.0
enum34==1.1.6
Flask==1.1.1
Flask-PyMongo==2.3.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
pyinotify==0.9.6
pymongo==3.9.0
pyOpenSSL==17.5.0
python-dotenv==0.10.3
pyxdg==0.25
SecretStorage==2.3.1
simplejson==3.13.2
six==1.11.0
typing==3.7.4.1
virtualenv==16.7.5
Werkzeug==0.15.6
