

<div class="mydivider"></div>
<section class="myfooter" >
  <div class="container-fluid" >
    <div class="row" >
      <div class="col-sm-3" ><img src="/static/img/alpha.png" class="mylogo" />"The Output Of Input"</div>
      <div class="col-sm-6" >
        <p class="border-left" ><b>ABOUT US</b></p>
        <p class="lightercolor">
        NorthWatch Is a community project put together by volunteers and self hosted. There is no affiliation with "Halo Platform"
        If you enjoy this tool feel free to donate to support continued hosting and development. Or Leave a Brave Tip. <br><br>
        
        <pre>
                      DONATIONS
HALO  = 0x630583fde8e6899c74d942814a3719b6d544220e 
ETH   = 0x174E061FF2EEbE9b4b8d5b1bC9b1188cEeE48C00</pre>
        </p>
        <marquee style="font-size: 2vw" id="scroll">Thank You For Your Support!  "0x6709238615509df0be0e5cc8733ded33786acfcd"</marquee>
      </div>
      <div class="col-sm-3" >
        <p class="border-left" ><b>Quick Links</b></p>
        <ul class="mylist" >
          <li><a href="https://www.haloexplorer.com/about" >About</a></li>
          <li> <a href="https://discord.gg/3GZSk7d" ><img src="/static/img/discord.png" width="50px"></a></li>
          <li><a href="#" >Disclaimer</a></li>
        </ul>

      </div>
    </div>
    <div class="mydivider"></div>
    <div class="row" >
      <div class="col-sm-6 " style="color:#fff;">
        &copy; Copyright Protected 2020 - 2021
      </div>
      <div class="col-sm-6 last-line" >
        <p>NorthWatch</p>
      </div>
    </div>
  </div>
</section>

