<!-- HERO -->
<div class="container-fluid align-top" >
  <div class="row hero-bg" >
  	<!-- <a class="twitter-timeline" href="https://twitter.com/halo_platform?ref_src=twsrc%5Etfw">Tweets by Halo Platform</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
<!--<a  class="twitter-timeline" data-width="500" data-height="400" href="https://twitter.com/Halo_Platform?ref_src=twsrc%5Etfw">Tweets by Halo_Platform</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

    {% include 'ad.html' %}
    




</div>
<div class="mydivider" ></div>
<!-- HERO - ENDS -->
