<html>
<head>
  <link href="/static/css/northwatch.css" rel="stylesheet" type="text/css">
  
</head>
<body>
<p style="text-align: center;">&nbsp;</p>
<div class="separator" style="clear: both; text-align: center;">
  <a
    src="/static/img/alpha.png"
    style="margin-left: 1em; margin-right: 1em;"
    ><img
      style="margin-left: auto; margin-right: auto; width: auto"
      border="0"
      data-original-height="833"
      data-original-width="1200"
      height="278"
      src="/static/img/alpha.png"
      width="400"
  /></a>
</div>
<div class="separator" style="clear: both; text-align: center;">
  <span style="font-size: x-large;"
    >Welcome to The North Watch.&nbsp;&nbsp;</span
  >
</div>
<div class="separator" style="clear: both; text-align: center;">
  <span style="font-size: x-large;"><br /></span>
</div>
<div class="separator" style="clear: both; text-align: center;">
  <span style="font-size: x-large;"><br /></span>
</div>
<div class="separator" style="clear: both; text-align: center;">
  The North Watch is a passion project put together by a group of people just
  looking to make data available to all that want to see it.&nbsp; Our goal is
  to provide explorers that provide complete transparency.
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  To learn more about the team please click through the the
  <a href="https://www.thenorthwatch.com/about">About</a> page.
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  We currently are providing block explorers for multiple projects built off of
  a base Ethereum fork.&nbsp; We are also investigating other blockchains for
  possible consideration.&nbsp; Please follow the links below to find the
  explorer you are looking to use.
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  <a
    href="https://1.bp.blogspot.com/-YrciXbNXB3Y/X0XGICC6afI/AAAAAAAAAXA/J7Ff0jHs1F4HsR6AJmhIRgo977HP9r3rwCLcBGAsYHQ/s1392/Halo_logo.png"
    style="margin-left: 1em; margin-right: 1em;"
    ><img
      border="0"
      data-original-height="492"
      data-original-width="1392"
      height="71"
      src="https://1.bp.blogspot.com/-YrciXbNXB3Y/X0XGICC6afI/AAAAAAAAAXA/J7Ff0jHs1F4HsR6AJmhIRgo977HP9r3rwCLcBGAsYHQ/w200-h71/Halo_logo.png"
      width="200"
  /></a>
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  <a href="https://www.thenorthwatch.com/HALO"
    >HALO PLATFORM Block = {{ status.Halo }}</a
  ><br />
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  <a
    href="https://1.bp.blogspot.com/-F7bYrhq1BM0/X0XG3oqpyOI/AAAAAAAAAXI/XhsGfc77YjguKiFxgblygE2qtjBmFmbXQCLcBGAsYHQ/s206/Ether-1_logo.png"
    style="margin-left: 1em; margin-right: 1em;"
    ><img
      border="0"
      data-original-height="81"
      data-original-width="206"
      height="79"
      src="https://1.bp.blogspot.com/-F7bYrhq1BM0/X0XG3oqpyOI/AAAAAAAAAXI/XhsGfc77YjguKiFxgblygE2qtjBmFmbXQCLcBGAsYHQ/w200-h79/Ether-1_logo.png"
      width="200"
  /></a>
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  <a href="https://www.thenorthwatch.com/ETHER1"
    >ETHER-1  Block = {{ status.Ether1 }}</a
  ><br />
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  <a
    href="https://1.bp.blogspot.com/-QcQgjMCfPC0/X0XHGuFxX1I/AAAAAAAAAXM/4aMwE9y2lssXhgo1rDxevS9GaDDdn9wWwCLcBGAsYHQ/s949/EGEM-logo.png"
    style="margin-left: 1em; margin-right: 1em;"
    ><img
      border="0"
      data-original-height="220"
      data-original-width="949"
      height="46"
      src="https://1.bp.blogspot.com/-QcQgjMCfPC0/X0XHGuFxX1I/AAAAAAAAAXM/4aMwE9y2lssXhgo1rDxevS9GaDDdn9wWwCLcBGAsYHQ/w200-h46/EGEM-logo.png"
      width="200"
  /></a>
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;">
  <a href="https://www.thenorthwatch.com/EGEM"
    >ETHERGEM Block = {{ status.Egem }}</a
  ><br />
</div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<div class="separator" style="clear: both; text-align: center;"><br /></div>
<p></p>
<body>
<html>