<!DOCTYPE html>
<html>


<head>
  {% include 'google.html' %}
  <meta name="keywords" content="Block, Block Explorer, Halo, Halo Platform, Eth fork, Blocks, Balances">
  <meta name="description" content="NorthWatch Block Explorer">
  <meta name="author" content="Halo Platform">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--  <link href="static/css/main.css" rel="stylesheet" type="text/css"> -->
  
  <!-- MJ Was Here -->
  <title>Transaction {{ results.hash |  truncate(12,true,'...')}}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
  <link href="/static/css/mj_css.css" rel="stylesheet" type="text/css">
  
  
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" href="http://example.com/img/apple-touch-icon.png" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>


<!-- HEADER -->
{%  include 'header.html'  %}
<!-- HEADER -ENDS -->


<table align= center style="table-layout: fixed; width:90%">
   
    

    <tr>
      <th>Transaction Information</th>
      <th style="border-bottom: none; width: 75%"></th>
    </tr>

    <tr>
      <td>To</td>
      <td><a href="https://www.haloexplorer.com/balance/{{ results.to_address }} " style=" color: #7F91B9">{{ results.to_address }}</a></td>
    </tr>
    
    <tr>
      <td>From</td>
      <td><a href="https://www.haloexplorer.com/balance/{{ results.from_address }} " style=" color: #7F91B9">{{ results.from_address }}</a></td>
    </tr>

    <tr>
      <td>Value</td>
      <td>{{ results.value }}</td>
    </tr>
    
    <tr>
      <td>Block Hash</td>
      <td>{{ results.hash }}</td>
    </tr>
    
    <tr>
      <td>Status</td>
      <td style="color: green">Accepted</td>
    </tr>

    <tr>
      <td>Time</td>
      <td>{{ results.block_timestamp }}</td>
    </tr>

    <tr>
      <td>In Block</td>
      <td><a href="https://www.haloexplorer.com/block/{{ results.block_number }} " style=" color: #7F91B9">{{ results.block_number }}</a></td>
    </tr>

    <tr>
      <td>Gas Used</td>
      <td>{{ results.gas }}</td>
    </tr>

    <tr>
      <td>Index</td>
      <td>{{ results.transaction_index }}</td>
      </div>
    </tr>

    <tr>
      <td>Input</td>
      <td>{{ results.input }}</td>
    </tr>


  </table>


<!-- FOOTER -->
{%  include 'footer.html'  %}
<!-- FOOTER - ENDS -->


</body>
</html>