<!DOCTYPE html>
<html>


<head>
  {% include 'google.html' %}
  <meta name="keywords" content="Block, Block Explorer, Halo, Halo Platform, Eth fork, Blocks">
  <meta name="description" content="NorthWatch Block Explorer">
  <meta name="author" content="Halo Platform">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>ERROR!! BEEP BOOP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> 
  <link href="static/css/mj_css.css" rel="stylesheet" type="text/css">
  
  
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" href="http://example.com/images/apple-touch-icon.png" />
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>


<!-- HEADER -->
{%  include 'header.html' %}
<!-- HEADER - ENDS -->




<h1 style="text-align: center">Nadda Zip Zilch</h1>
<h2 style="text-align: center">Check Your Search And Try Again</h2>

<!-- FOOTER -->
{% include 'footer.html' %}
<!-- FOOTER - ENDS -->
</body>
</html>